.myintro{
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.myimg{
    display: flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
}

.mytext{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16em;
}

.big-text{
    /* display: flex; */
    font-weight: 800;
    font-size: 50px;
}
.small-text{
    padding-top: 1.2em;
    /* display: flex; */
    font-size: 30px;
}
@media only screen and (max-width: 720px){
    .myintro{
        flex-direction: column;
    }
    .mytext{
        padding-right: 0em;
    }
    .myimg{
        justify-content: center;
    }
}